
body{
	border: 2px solid blue;
	background-color: lime;
	padding: 20px;
}

.container{
	
}

#dv1, #dv2, #dv3{
	display: none;
}

#correct {
	display: none;
	color: green;
	font-size: 1.3eM;
}

#wrong{
	display: none;
	color: red;
	font-size: 1.3eM;
}
#score {
	display: none;
	color: silver;
	font-weight: bold;
	font-size: 2eM;
}

h1{
	text-align: center;
	color: white;
	background-color: purple;
}

ul{
	background-color: yellow;
}

h3{
	background-color: #66ccff;
}

@media (max-width: 450px){
	body{
		background: black;
	}
}
.container{
    width:100%;
    height: auto;
    background: black;
    display: flex;
    flex-direction: row;
}

.box{
	width: 20px;
	height: 10px;
	margin: 20px;
	background: gray;
}